:root {
  --color-primario: rgb(1, 183, 205);
  --color-text: white; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, monospace; }

html {
  font-size: 62.5%; }

ul {
  list-style-type: none; }

main section picture img {
  width: 100%; }

a {
  text-decoration: none; }

.box__text__items {
  height: 250px;
  width: 500px; }

.box__text__items2 {
  height: 250px;
  width: 500px; }

.box__text__items3 {
  height: 250px;
  width: 500px; }

.box__text__items4 {
  height: 250px;
  width: 500px; }

.box__text__items5 {
  height: 250px;
  width: 500px; }

.box__text__items6 {
  height: 250px;
  width: 500px; }

.hamburger, #hamburger {
  display: none; }

#hamburger {
  position: absolute;
  margin-left: 324px;
  width: 32px;
  height: 32px;
  opacity: 0; }

header {
  background: var(--color-primario);
  display: flex;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  position: fixed;
  width: 100%;
  align-items: center;
  padding: 0.5rem; }

header .header__logo {
  flex-basis: 70%;
  padding-left: 10px; }

header .header__img {
  max-width: 70px; }

header .navigation {
  flex-basis: 30%;
  justify-content: space-around;
  align-items: flex-end;
  display: inline-block; }

header nav .menu {
  display: flex;
  gap: 2rem;
  padding-left: 20px; }

.menu__link {
  color: var(--color-text);
  text-decoration: none;
  text-align: center; }

.box__link {
  display: inline-block;
  background-color: var(--color-primario);
  color: var(--color-text);
  padding: 15px 15px;
  border-style: dotted;
  border-width: 1px;
  text-align: center;
  border-radius: 1em;
  font-size: 2em; }

.box4 {
  display: flex;
  background-color: azure;
  height: 100px;
  justify-content: center; }

.box4__text {
  display: inline-block;
  height: 75px;
  margin: 10px;
  box-sizing: content-box;
  flex-direction: column;
  display: flex; }

.box4__img {
  margin: auto auto;
  width: 40px; }

.box__items, .box__items2, .box__items3, .box__items4, .box__items5, .box__items6 {
  background: #f1bf88; }

.box__items2 {
  background: #99dbea; }

.box__items3 {
  background: #ee6fb7; }

.box__items4 {
  background: #b9ea99; }

.box__items5 {
  background: #dc65be; }

.box__items6 {
  background: #5b9289; }

.box__items, .box__items2, .box__items3, .box__items4, .box__items5, .box__items6 {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.box__text__subtitle {
  font-weight: bold;
  margin-top: 50px;
  font-size: 2.1rem;
  color: white; }

@media screen and (max-width: 480px) {
  header {
    /* flex-direction: column; */
    gap: 1rem; }
  .box__items, .box__items2, .box__items3, .box__items4, .box__items5, .box__items6 {
    background: #f1bf88;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .box__text__items {
    margin: auto;
    height: 80px;
    width: 300px;
    text-align: center;
    padding-left: 0px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em; }
  .box__items2 {
    background: #99dbea;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .box__text__items2 {
    margin: auto;
    height: 80px;
    width: 300px;
    text-align: center;
    padding-left: 0px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em; }
  .box__items3 {
    background: #ee6fb7;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .box__text__items3 {
    margin: auto;
    height: 80px;
    width: 300px;
    text-align: center;
    padding-left: 0px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em; }
  .box__items4 {
    background: #b9ea99;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .box__text__items4 {
    margin: auto;
    height: 80px;
    width: 300px;
    text-align: center;
    padding-left: 0px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em; }
  .box__items5 {
    background: #dc65be;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .box__text__items5 {
    margin: auto;
    height: 80px;
    width: 300px;
    text-align: center;
    padding-left: 0px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em; }
  .box__items6 {
    background: #5b9289;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .box__text__items6 {
    margin: auto;
    height: 80px;
    width: 300px;
    text-align: center;
    padding-left: 0px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em; }
  .box__img__items {
    display: none; }
  .box__link__items {
    display: flex;
    background-color: #60bcad;
    color: white;
    padding: 10px 10px;
    border-style: dotted;
    border-width: 0.5px;
    text-align: center;
    border-radius: 1em;
    font-size: 0.6em;
    flex-direction: row;
    margin-right: 10px; }
  .box__text__subtitle {
    font-weight: bold;
    margin-top: 25px;
    font-size: 1.4rem;
    color: #ffffff; } }

h2 {
  padding-bottom: 0.8em;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #f2c617; }

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 2fr);
  gap: 0.3rem;
  margin: 0.3rem;
  flex-direction: column; }

.gallery__img1 {
  position: relative;
  cursor: pointer;
  overflow: hidden; }

.gallery__img1::before {
  content: "SALONES AEROBICOS";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #5b928985;
  transform: translate(100%);
  transition: transform .4s;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem; }

.gallery__img1:hover::before {
  transform: translate(0); }

.gallery__img2 {
  position: relative;
  cursor: pointer;
  overflow: hidden; }

.gallery__img2::before {
  content: "SALA FUNCIONAL";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #5b928985;
  transform: translate(100%);
  transition: transform .4s;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem; }

.gallery__img2:hover::before {
  transform: translate(0); }

.gallery__img3 {
  position: relative;
  cursor: pointer;
  overflow: hidden; }

.gallery__img3::before {
  content: "SECTOR CARDIO";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #5b928985;
  transform: translate(100%);
  transition: transform .4s;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem; }

.gallery__img3:hover::before {
  transform: translate(0); }

.gallery__img4 {
  position: relative;
  cursor: pointer;
  overflow: hidden; }

.gallery__img4::before {
  content: "SECTOR DE MUSCULACION";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #5b928985;
  transform: translate(100%);
  transition: transform .4s;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem; }

.gallery__img4:hover::before {
  transform: translate(0); }

@media screen and (max-width: 480px) {
  header {
    /* flex-direction: column; */
    gap: 1rem; }
  .gallery {
    display: flex;
    gap: 0.3rem;
    margin: 0.3rem;
    flex-direction: column; }
  .gallery__img1 {
    position: relative;
    cursor: pointer;
    overflow: hidden; }
  .gallery__img1::before {
    content: "SALONES AEROBICOS";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #5b928985;
    transform: translate(100%);
    transition: transform .4s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem; }
  .gallery__img1:hover::before {
    transform: translate(0); }
  .gallery__img2 {
    position: relative;
    cursor: pointer;
    overflow: hidden; }
  .gallery__img2::before {
    content: "SALA FUNCIONAL";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #5b928985;
    transform: translate(100%);
    transition: transform .4s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem; }
  .gallery__img2:hover::before {
    transform: translate(0); }
  .gallery__img3 {
    position: relative;
    cursor: pointer;
    overflow: hidden; }
  .gallery__img3::before {
    content: "SECTOR CARDIO";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #5b928985;
    transform: translate(100%);
    transition: transform .4s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem; }
  .gallery__img3:hover::before {
    transform: translate(0); }
  .gallery__img4 {
    position: relative;
    cursor: pointer;
    overflow: hidden; }
  .gallery__img4::before {
    content: "SECTOR DE MUSCULACION";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #5b928985;
    transform: translate(100%);
    transition: transform .4s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem; }
  .gallery__img4:hover::before {
    transform: translate(0); } }

.address {
  display: inline-block;
  margin-top: 20px; }

.address__items {
  width: 100%;
  height: 250px;
  display: inline-block;
  border-style: dotted;
  border-width: 1px;
  margin: 10px;
  text-align: center; }

.address__text {
  margin-top: 50px;
  color: #468de4;
  font-size: 2em; }

.street {
  font-style: oblique; }
