
$box:(
    box__items: #ffc538 ,
    box__items2: #95c543,
    box__items3: #F4035B,
    box__items4: #b9ea99,
    box__items5: #7d2a8f,
    box__items6:  #09f2cb
);


header {background: var(--color-primario); 
    display: flex;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777; 
    box-shadow:0 10px 6px -6px #777 ;
    position: fixed; 
    width: 100%;
    align-items: center;
    padding: 0.5rem;
    }

@each $boxes, $color in $box {
  .#{$boxes}{
    background: $color;
    }
}


.box__items{
    height: 450px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.box__items2{
    @extend .box__items;
}

.box__items3{
    @extend .box__items; 
}

.box__items4{
    @extend .box__items; 
}
.box__items5{
    @extend .box__items; 
}
.box__items6{
    @extend .box__items; 
}

.box__text__subtitle{
    font-weight: bold;
    margin-top: 50px;
    font-size: 2.1rem;
    color: rgb(255, 255, 255);
}
.box__link{
   
}

.box__link__items{  
    display: flex; 
    background-color: white; 
    color: white;
    padding: 30px 30px; 
    text-align: center; 
    font-size: 1.2em;
    margin-right: 60px;
    width: 230px;
    height: 100px;
    border-color:#7d2a8f;
    border-style: solid;
     border-width: 8px
}

@media screen and (max-width: 480px) {
    header{
        gap: 1rem;
    }  
  
    .box__bag {
        background: #ffffff5c; 
        display: inline-block;
        width: 350px; 
        height: 180px; 
        margin-top: 120px;
        display: grid;
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777; 
        box-shadow:0 10px 6px -6px #777 ;
        border-radius: 2em;
        border: 1px #b7e86d84 solid ;
        }
        .box__link{
            display: inline-block; 
            background-color: rgb(96, 188, 173);
            color: white;
            padding: 10px 10px; 
            border-style: dotted; 
            border-width: 0.5px;
            text-align: center; 
            border-radius: 1em;
            font-size: 1em;}

    .box__items{ background: #f1bf88; 
        height: 100px; width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;}
    
    .box__text__items{margin: auto;
    height: 80px;
    width: 300px;    
    text-align: center;
    padding-left: 0px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;}

    .box__items2{ background: #99dbea; 
        height: 100px; width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;}
    
    .box__text__items2{margin: auto;
    height: 80px;
    width: 300px;    
    text-align: center;
    padding-left: 0px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;}

    .box__items3{background: #ee6fb7;
        height: 100px; width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;}
    
    .box__text__items3{margin: auto;
    height: 80px;
    width: 300px;    
    text-align: center;
    padding-left: 0px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;}

    .box__items4{  background: #b9ea99;
        height: 100px; width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;}
    
    .box__text__items4{margin: auto;
    height: 80px;
    width: 300px;    
    text-align: center;
    padding-left: 0px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;}

    .box__items5{ background: #dc65be;
        height: 100px; width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;}
    
    .box__text__items5{margin: auto;
    height: 80px;
    width: 300px;    
    text-align: center;
    padding-left: 0px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;}

    .box__items6{ background: #5b9289;
        height: 100px; width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;}
    
    .box__text__items6{margin: auto;
    height: 80px;
    width: 300px;    
    text-align: center;
    padding-left: 0px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;}

    .box__img__items{ display: none}

    .box__link__items{ 
        width: 100px ;
        height: 50px;
        display: flex; 
        background-color:white; 
        color: white;
        padding: 5px 10px; 
        border-style: solid; 
        border-width: 3px;
        text-align: center; 
        border-radius: 1em;
        font-size: 0.6em;
        flex-direction: row;
        margin-right: 10px;
        margin-left: 10px;
        border-color:#95c543;
        border-style: solid;
    }
 .box__text__subtitle{
    font-weight: bold;
    margin-top: 25px;
    font-size: 1.4rem;
    color: #ffffff;
}       
}