
header {background: var(--color-primario); 
    display: flex;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777; 
    box-shadow:0 10px 6px -6px #777 ;
    width: 100%;
    align-items: center;
    padding: 0.5rem;
    }
    
h2{
    padding-bottom: 0.8em;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgb(242, 198, 23);
    text-align: center;
}
h3{margin-left: 17px;}
h4{font-size: 3rem;}
.h4__span{font-style: initial;
    font-weight: bold;}

.h2__text{ font-size: 4rem;}

.box { 
    background: #95c543,;
    height: 500px; 
    display: grid;
    width: 100%;
    text-align: center; 
    justify-content: center;
    width: 100%;
    
    }
    
    
    .box__bag {
        background: rgba(132, 221, 233, 0.368); 
        display: inline-block;
        width: 600px; 
        height: 300px; 
        margin-top: 150px;
        display: grid;
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777; 
        box-shadow:0 10px 6px -6px #777 ;
        border: 1px rgba(183, 232, 109, 0.519) solid ;
    }
    
    .box__nav {
        padding: auto;
        }
        
        .menu__link{
            color: var(--color-text);
        text-decoration: none;
        text-align: center;
        }
        
        .box__link{
            display: inline-block; 
            background-color: var(--color-primario);
            color: var(--color-text);
            padding: 30px 20px; 
            border-style: dotted; 
            border-width: 1px;
            text-align: center; 
            font-size: 2em;
        }
        .hr{
            height: 3px;
            background-color:#f2c617 ;
    }

.box2__text{ 
    color: #ffffff;
    margin-top: 50px;
    margin-right: 50px;
    text-align: center;
    font-size: 3em;
    justify-items: center;}    

.gallery{ 
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    gap: 0.3rem;
    margin: 0.3rem;
flex-direction: column;}

.gallery__img1{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.gallery__img1::before{
    content: "SALONES AEROBICOS";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:  #0000001f;
    transform: translate(100%);
    transition: transform .4s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
}
.gallery__img1:hover::before{
    transform: translate(0);
}

.gallery__img2{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.gallery__img2::before{
    content: "SALA FUNCIONAL";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:   #0000001f;
    transform: translate(100%);
    transition: transform .4s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
}

.gallery__img2:hover::before{
    transform: translate(0);
}

.gallery__img3{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.gallery__img3::before{
    content: "SECTOR CARDIO";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:  #0000001f;
    transform: translate(100%);
    transition: transform .4s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
}

.gallery__img3:hover::before{
    transform: translate(0);
}

.gallery__img4{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.gallery__img4::before{
    content: "MUSCULACION";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:  #0000001f;
    transform: translate(100%);
    transition: transform .4s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
}

.gallery__img4:hover::before{
    transform: translate(0);
}

@media screen and (max-width: 480px) {
    header{
        /* flex-direction: column; */
        gap: 1rem;
    }  
    h2{
        padding-bottom: 0.5em;
        font-size: 2.7rem;
        text-decoration: underline;
        text-decoration-color: rgb(242, 198, 23);
    }

    .hr{
      display: none;
    }
    .box { 
        background-color: #7d2a8f,;
        height: 350px; 
        display: grid;      
        width: 100%;
}
    .h2__text{
        font-size: 2.7rem;
    }
    .box__bag {
        background: #ffffff5c; 
        display: inline-block;
        width: 350px; 
        height: 180px; 
        margin-top: 120px;
         display: grid;
         -webkit-box-shadow: 0 10px 6px -6px #777;
         -moz-box-shadow: 0 10px 6px -6px #777; 
         box-shadow:0 10px 6px -6px #777 ;
         border-radius: 2em;
         border: 1px #b7e86d84 solid ;
    }    
    .box__link{
        display: inline-block; 
        background-color: var(--color-primario);
        color: var(--color-text);
        padding: 10px 10px; 
        border-style: dotted; 
        border-width: 1px;
        text-align: center; 
        font-size: 1em;
    }

    .box__text{color: aliceblue;
        margin-top: 25px;
        text-align: center;
        font-size: 1.5em;
        justify-items: center;}
    

    .gallery{display: flex;
        gap: 0.3rem;
        margin: 0.3rem;
    flex-direction: column;}

    .gallery__img1{
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }
    
    
    .gallery__img1::before{
        content: "SALONES AEROBICOS";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color:  #95c543;
        transform: translate(100%);
        transition: transform .4s;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: #f2c617;
    }
    
    .gallery__img1:hover::before{
        transform: translate(0);
    }
    
    .gallery__img2{
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }
    
    .gallery__img2::before{
        content: "SALA FUNCIONAL";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color:  #ffc538;
        transform: translate(100%);
        transition: transform .4s;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: #f2c617;
    }
    
    .gallery__img2:hover::before{
        transform: translate(0);
    }
    
    .gallery__img3{
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }
    
    .gallery__img3::before{
        content: "SECTOR CARDIO";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color:  #F4035B;
        transform: translate(100%);
        transition: transform .4s;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: #f2c617;
    }
    
    .gallery__img3:hover::before{
        transform: translate(0);
    }
    
    .gallery__img4{
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }
    
    .gallery__img4::before{
        content: "SECTOR DE MUSCULACION";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color:#7d2a8f;
        transform: translate(100%);
        transition: transform .4s;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: #f2c617;
    }
    
    .gallery__img4:hover::before{
        transform: translate(0);
    }
      
}

