
h2{
    padding-bottom: 0.8em;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgb(242, 198, 23);
    text-align: center;
}
h3{margin-left: 17px;}

    
.box2__text{ 
    color: #ffffff;
    margin-top: 50px;
    margin-right: 50px;
    text-align: center;
    font-size: 2em;
    justify-items: center;}    

.gallery{display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    gap: 0.3rem;
    margin: 0.3rem;
flex-direction: column;}

.gallery__img1{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.gallery__img1::before{
    content: "SALONES AEROBICOS";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:  #5b928985;
    transform: translate(100%);
    transition: transform .4s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
}
.gallery__img1:hover::before{
    transform: translate(0);
}

.gallery__img2{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.gallery__img2::before{
    content: "SALA FUNCIONAL";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:  #5b928985;
    transform: translate(100%);
    transition: transform .4s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
}

.gallery__img2:hover::before{
    transform: translate(0);
}

.gallery__img3{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.gallery__img3::before{
    content: "SECTOR CARDIO";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:  #5b928985;
    transform: translate(100%);
    transition: transform .4s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
}

.gallery__img3:hover::before{
    transform: translate(0);
}

.gallery__img4{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.gallery__img4::before{
    content: "MUSCULACION";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:  #5b928985;
    transform: translate(100%);
    transition: transform .4s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
}

.gallery__img4:hover::before{
    transform: translate(0);
}

@media screen and (max-width: 480px) {
    header{
        /* flex-direction: column; */
        gap: 1rem;
    }  
    h2{
        padding-bottom: 0.5em;
        font-size: 2.7rem;
        text-decoration: underline;
        text-decoration-color: rgb(242, 198, 23);
    }

    .box { 
        background-color: #74c2b5;
        height: 350px; 
        display: grid;      
        width: 100%;
}
        

    .box__text{color: aliceblue;
        margin-top: 25px;
        text-align: center;
        font-size: 1.5em;
        justify-items: center;}
    

    .gallery{display: flex;
        gap: 0.3rem;
        margin: 0.3rem;
    flex-direction: column;}

    .gallery__img1{
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }
    
    
    .gallery__img1::before{
        content: "SALONES AEROBICOS";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color:  #01b7cd;
        transform: translate(100%);
        transition: transform .4s;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: #f2c617;
    }
    
    .gallery__img1:hover::before{
        transform: translate(0);
    }
    
    .gallery__img2{
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }
    
    .gallery__img2::before{
        content: "SALA FUNCIONAL";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color:  #01b7cd;
        transform: translate(100%);
        transition: transform .4s;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: #f2c617;
    }
    
    .gallery__img2:hover::before{
        transform: translate(0);
    }
    
    .gallery__img3{
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }
    
    .gallery__img3::before{
        content: "SECTOR CARDIO";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color:  #01b7cd;
        transform: translate(100%);
        transition: transform .4s;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: #f2c617;
    }
    
    .gallery__img3:hover::before{
        transform: translate(0);
    }
    
    .gallery__img4{
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }
    
    .gallery__img4::before{
        content: "SECTOR DE MUSCULACION";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color:  #01b7cd;
        transform: translate(100%);
        transition: transform .4s;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: #f2c617;
    }
    
    .gallery__img4:hover::before{
        transform: translate(0);
    }
      
}

