*{margin: 0;
    padding: 0;
    box-sizing: border-box;}
    
    body{
        font-family: Arial, Helvetica, monospace;
    }
    
    html{
        font-size: 62.5%;
    }
    
    ul{
        list-style-type: none;
    }
    
    main section picture img{width: 100%;}
    
    a{text-decoration: none;}
    
